@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Modak&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.modak{
  font-family: "Modak", system-ui;
  font-weight: 200;
  font-style: normal;
}

.comfortaa {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
